
/* Your CSS Code here. */
main div h2{
	width:200px;
	background-color:purple;
	border-left-width: 5px;
	border-left-style:solid;
	border-left-color: green;
	font_size:20px;
	padding:10px;
	color:white;
	text-decoration:underline white 2px;
	}
